# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Eclipse Debug Files
*.d

#Excutables created by this code
Debug/RepRapUltimakerFirmware
Release/RepRapUltimakerFirmware

# Eclipse gitignore
in/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# CDT-specific
.cproject

